@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;

    --normal:1rem;
    --small:0.8rem;
    --large:2rem;
    --medium:1.5rem;
    --medium-normal:1.2rem;

    --blue:#0e5a8a;
    --lblue:#276E9C;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.button-small{
  padding-block:5px;
  padding-inline:15px;
  border:none;
  background-color:var(--blue);
  color:#ffffff;
  border-radius: 5px;
  font-weight:600;
  font-size:var(--small);
  box-shadow: 0px 1px 10px 0px rgba(50,50,50,0.1);
}

.button-round{
  padding-inline:20px;
  padding-block:10px;
  border-radius:50px;
  background-color:var(--blue);
  color:#ffffff;
  display:flex;
  align-items: center;
  gap:10px;
  font-size: var(--normal);
  box-shadow: 0px 1px 10px 0px rgba(50,50,50,0.1);
  line-height:var(--normal);
}

.button-medium{
  padding-block:10px;
  padding-inline:20px;
  border:none;
  background-color:var(--blue);
  color:#ffffff;
  border-radius: 10px;
  width:200px;
  font-weight:600;
  box-shadow: 0px 1px 10px 0px rgba(50,50,50,0.1);
}



.button-medium:hover, .button-small:hover, .button-round:hover{
  background-color:var(--lblue);
}

.header{
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding:20px;
  position:sticky;
  top:0px;
  z-index:10;
  background-color:rgba(255,255,255,0.8);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  box-shadow: 0px 1px 5px 0px rgba(50,50,50,0.1);
}

.nav{
  position:sticky;
  top:70px;
  background-color:rgba(255,255,255,0.8);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  z-index:2;
  overflow-x:auto;
}

.loader{
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  display:flex;
  flex-flow:column nowrap;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
}

.loader-inset{
  padding:50px;
  display:flex;
  flex-flow:column nowrap;
  align-items: center;
  justify-content: center;
}

.property-image{
  width:180px;
  object-fit: cover;
}

.property-features{
  display:flex;
  gap:10px;
  flex-flow:row wrap;
}

.logo{
  width:30px;
}

.logo-wrapper{
  display:flex;
  gap:10px;
  align-items: center;
  cursor:pointer;
}

.confirmation{
  max-width:600px;
  position:relative;
  margin:auto;
  padding:50px;
  text-align: center;
  display:flex;
  flex-flow:column nowrap;
  align-items: center;
  justify-content: center;
  height:400px;
  margin-top:100px;
}

.no-overflow{
  overflow: hidden;
}

.section{
  padding:20px;
  max-width:1000px;
  margin:auto;
  display:grid;
  gap:20px;
}

.terms-wrapper{
  min-height:250px;
  max-height:400px;
  overflow:auto;
  border:solid 20px #ffffff;
  border-radius: 10px;
  box-shadow:1px 1px 10px 0px rgba(50,50,50,0.2);
}

.dashboard-title{
  font-weight:700;
  font-size:1.5rem;
  text-align: center;
}

.home-slide-wrap{
  position:relative;
 
}

.home-slide-wrapper{
padding-block:20px !important;
}

.slide-loader-wrapper{
  display:flex;
  flex-flow:row nowrap;
  align-items: center;
  gap:30px;
}

.slide-loader-wrapper .home-list{
  min-width:300px;
}

.slide-loader-wrapper .home-list-subtitle{
  height:var(--normal);
  background-color:#eaeaea;
  border-radius: 50px;
}

.slide-loader-wrapper .home-list-title{
  height:var(--medium);
  background-color:#eaeaea;
  border-radius: 50px;
}

.slide-loader-wrapper .home-list-desc{
  height:var(--small);
  background-color:#eaeaea;
  border-radius: 50px;
}

.home-list{
  border:solid 1px #eaeaea;
  cursor:pointer;
  transition:all 0.2s ease-in-out;
}

.home-slide{
width:300px !important;
}

.home-list:hover{
  transform: translate(0px, 5px)
}

.home-list-content{
  padding:15px;
  height:240px;
  display:grid;
  gap:10px;
  align-content: space-between;
}

.home-list-desc{
  font-size: var(--small);
  color:#999999;
}

.home-list-title{
  font-weight:700;
  font-size:var(--medium-normal)
}

.list-img-wrapper{
  background-color: #eaeaea;
  width:300px;
  border-radius: 10px 0px 0px 10px;
}

.list-img{
  width:100%;
  height:100%;
  object-fit: cover;
  border-radius: 10px 0px 0px 10px;
}

.list{
  display:flex;
  border:solid 1px #eaeaea;
  border-radius: 10px;
  -webkit-transition:all 0.2s ease-in-out;
  transition:all 0.2s ease-in-out;
}

.list:hover{
  background-color: #f5f5f5;
  transform:translate(5px,0px);
}

.list-content{
  display:flex;
  width:100%;
  gap:20px;
  padding:20px;
  
}

.list-sub-content{
  display:flex;
  flex-flow:column nowrap;
  align-items: flex-end;
  gap:20px;
}

.list-fave{
  width:40px;
  height:40px;
  padding:10px;
}

.direction-button{
  width:40px;
  height:40px;
  opacity:0.5;
  -webkit-transition:all 0.2s ease-in-out;
  transition:all 0.2s ease-in-out;
  cursor:pointer;
  padding:10px;
  border-radius: 50px;
}

.direction-button:hover{
  opacity:1.0;
  background-color:#ffffff;
  box-shadow: 1px 1px 10px 0px rgba(50,50,50,0.1);
}

.list-button-wrapper{
  display:flex;
  gap:5px;
  align-items: center;
}


.main-section{
  max-width:800px;
  margin:auto;
  position:relative;
  padding:50px;
  display:grid;
  gap:10px;
}

.section-header{
  display:flex;
  justify-content: space-between;
  align-items:center;
  gap:20px;
}

.section-header-active{
  background-color:var(--lblue) !important;
  color:#ffffff;
}

.section-header-section{
  display:flex;
  align-items:center;
  gap:10px;
}

.section-header-section button{
  background-color:#eaeaea;
  border:#dadada;
  border-radius: 5px;
  padding-inline:10px;
  padding-block:2px;
}

.section-header-section button:hover{
  background-color:#cacaca;
}

.section-title{
  font-size: var(--medium);
  font-weight:700;
}

.section-list{
  border: solid 1px #eaeaea;
  border-radius: 10px;
  padding:15px;
  cursor:pointer;
  -webkit-transition:all 0.2s ease-in-out;
  transition:all 0.2s ease-in-out;
  display:flex;
  align-items:center;
  justify-content: space-between;
  gap:15px;
}

.section-list-section{
  display:flex;
  gap:10px;
  align-items: center;
}

.delete-img{
  opacity:0.5;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.section-list img:hover{
  opacity:1.0;
}

.section-list:hover{
  background-color: #f5f5f5;
  transform:translate(5px,0px);
}

h1{
  font-size:var(--large);
  font-weight: 700;
  margin-block:20px;
}

h2{
  font-size:var(--medium);
  font-weight: 700;
  margin-block:20px;
}

h3{
  font-size:var(--medium-normal);
  font-weight: 700;
  margin-block:20px;
}

.break-words{
  margin-block:10px;
}

.table{
  width:100%;
}

.table tr{
  border-bottom:solid 1px #eaeaea
}

.table tr:nth-child(even){
  background-color:#f9fafb;
}

.table-header{
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding-inline:20px;
}

.table-loader{
  width:100%;
  height:var(--normal);
  background-color:#eaeaea;
  border-radius: 50px;
}

.table td, .table th{
  padding:10px;
  font-size:var(--normal);
  text-align:left;
}

.table th{
  text-transform: uppercase;
  font-size:var(--small);
  color:#999999;
}

.edit-button{
 opacity:0.3;
 transition:all 0.2s ease-in-out;
 padding:10px;
 border-radius: 5px;
 display:flex;
 align-items: center;
 gap:5px;
}



.edit-button:hover{
  opacity:1.0;
  box-shadow:1px 1px 10px 0px rgba(50,50,50,0.1);
  background-color:#fff;
}

.edit-button img{
  min-width:20px;
  max-width:20px;
}

.tab-active{
  border-bottom: solid 2px var(--lblue);
  color:var(--blue) !important;
}

.header-search-wrapper{
  position:relative;
}

.header-search-wrapper input{
  background-color:#eaeaea;
  height:35px;
  border-radius:50px;
  font-size:var(--normal);
  outline:none;
  padding-left:32px;
  padding-right:10px;
  background-image:url(../public/search.svg);
  background-repeat:no-repeat;
  background-position: 10px center;
  background-size: 15px 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width:210px;
}

.header-search-wrapper input:focus{
  outline:4px solid rgba(50,50,50,0.1)
}

.header-search-results{
  position:absolute;
  top:105%;
  left:0px;
  max-width:200%;
  background-color: #f1f1f1;
  border-radius:10px;
  max-height:300px;
  overflow:auto;
}

.header-search-result{
  padding:7px;
  border-bottom:solid 1px #dadada;
  cursor:pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.header-search-result div, .search-result div div{
  font-size:var(--small);
  color:#808080;
}

.header-search-result:hover{
  background-color:#f9f9f9
}

.header-search-result:nth-last-child(1){
  border-bottom: 0;
  border-radius:0px 0px 10px 10px;
}

.header-search-result:nth-child(1){
  border-radius:10px 10px 0px 0px;

}

.search-results{
  position:absolute;
  top:120%;
  left:0px;
  right:0px;
  z-index:2;
  max-height:260px;
  overflow:auto;
  background-color:rgba(240,240,240,0.8);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  box-shadow:0px 1px 10px 0px rgba(50,50,50,0.1);
}

.search-result{
  cursor:pointer;
  padding-inline: 10px;
  padding-block:5px;
  border-radius:10px;
  display:flex;
  align-items: center;
  gap:10px;
}

.search-result img{
  width:15px;
  opacity:0.3;
}

.search-result:hover{
  background-color:#eaeaea;

}

.panel-section{
  box-shadow: -1px 1px 10px 0px rgba(50,50,50,0.2);
  border:solid 1px #eaeaea;
}

.gallery-image{
  border-radius: 10px;
  object-fit: cover;
  width:100%;
  aspect-ratio: 16/9;
  user-select:none;
}

.gallery-slide{
  border-radius: 10px;
  box-shadow: 0px 1px 10px 0px rgba(50,50,50,0.2) !important;
  user-select:none;
}

.property-icons{
  display:flex;
  align-items: center;
  gap:10px;
}

.floor-plan-img{
  aspect-ratio: 16/9;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 0px rgba(50,50,50,0.3)
}

.payment-option{
  height:50px;
  width:100%;
}

.fav-button{
  width:40px;
  height:40px;
  display:flex;
  align-items: center;
  justify-content: center;
  background-color:#ffffff;
  transition:all 0.2s ease-in-out;
  border-radius: 50px;
}

.fav-button:hover{
  box-shadow:0px 1px 10px 0px rgba(50,50,50,0.2)
}

.fav-img{
  width:25px;
  height:25px;
}

.profile-wrapper{

}

.profile-img{
  width:40px;
  height:40px;
  user-select: none;
  background-color:#eaeaea;
  border-radius: 100px;
  position:relative;
  transition:all 0.2s ease-in-out;
  display:flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: solid 3px transparent;
}

.profile-img img{
  width:30px;
  height:30px;
  opacity:0.6;
}

.profile-img-active{
  outline:solid 3px var(--lblue)
}

.profile-img:hover{
  background-color:#dadada;
}


.main-menu{
  display:flex;
  align-items: center;
  gap:20px;
}

.main-menu-links{
  display:flex;
  align-items: center;
  gap:15px;
}

@keyframes fadeIn {
  0% {opacity:0; transform:translate(0px, 20px)}
  100% {opacity:1; transform:translate(0px, 0px)}
}

.menu-links{
  display:grid;
  grid-template-columns: 1fr;
  position:absolute;
  right:0px;
  width:150px;
  top:105%;
  gap:5px;
  user-select: none;
  border:solid 1px #eaeaea;
  transition:all 0.2s ease-in-out;
  background-color:rgba(255,255,255,1);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter:blur(15px);
  border-radius:10px;
  padding:10px;
  text-align:right;
  -webkit-animation: fadeIn 0.2s linear;
  animation: fadeIn 0.2s linear;
  box-shadow: 1px 1px 10px 0px rgba(50,50,50,0.1)

}

.active-link{
  color:var(--lblue);
  font-weight: 600;
}

.book-input-wrapper{
  display:grid;

}

.book-input{
  border-bottom: solid 1px #eaeaea;
  outline:none;
  padding-bottom:10px;
}

.book-input:focus{
  border-bottom: solid 1px var(--lblue);
}

input:read-only{
  background-color: #eaeaea;
}

input:read-only:focus{
  outline:none;
  border:solid 1px transparent;
}

.toggle-wrapper{
  display:flex;
  align-items: center;
  gap:20px;
  justify-content: space-between;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--blue);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--blue);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media screen and (max-width:600px){
  .list{
    display:grid;
    grid-template-columns: 1fr;
  }

  .list-img-wrapper{
    width:100%;
    background-color: #eaeaea;
    height:150px;
    border-radius:10px 10px 0px 0px;
  }

  .list-img{
    width:100%;
    height:150px;
    border-radius:10px 10px 0px 0px;
  }

  .list-content{
    display:grid;

  }
}